<h1>The Tchat</h1>

<h2>Create or join a room:</h2>
<div class="row">
  <form id="submit-room">
    <div class="col-xs-9">
      <input type="text" id="room-name" class="form-control" placeholder="Room name">
    </div>
    <div class="col-xs-3">
      <input type="submit" class="form-control" value="GO">
    </div>
  </form>
</div>
